# PyTorch ecosystem (versione CPU di default)
torch>=2.10.0
torchvision>=0.25.0
torchaudio>=2.10.0

# Data science essenziali
numpy
pandas
matplotlib
scikit-learn

# Utility
tqdm
pillow
jupyter
ipykernel
tensorboard
wandb
